*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins",sans-serif;
}

.name{
	padding-left: 40px;
	font-family: "NunitoSans", sans-serif;
	font-size: 3.5em;
	text-decoration: underline;
	letter-spacing: 5px;
	padding-top: 20px;
	margin-top: 50px;
}

.buttons button{
	min-width: 130px;
	height: 50px;
	padding: 10px 8px;
	border: 2px solid var(--link-text);
	border-radius: 5px;
	background-color: var(--primary);
	font-size: 1em;
	font-weight: bold;
	font-family: "NunitoSans",sans-serif;
}


.buttons button:first-child{
	background-color: var(--link-text);
}

.buttons button a{
	text-decoration: none;
	display: inline-block;
	width: 100%;
	height: 100%;
	color: currentColor;
}

.buttons button:first-child a{
	color: var(--primary);
}

.buttons{
	margin-left: 12%;
	margin-top: 40px;
}

.buttons button:hover{
	background-color: var(--link-text);
	color: var(--primary);
}

.skills{
	margin-top: 100px;
	font-size: 2em;
	margin-left: 8%;
	display: inline-block;
	font-family: "Poppins",sans-serif;
	font-weight: bold;
}

.skills .type{
	font-size: 1.5em;
}

#skills{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 40px;
}

.experience{
	max-width: 60%;
	margin-right: 8%;
	margin-bottom: 20px;
}

dt{
	font-size: 1em;
	color: var(--primary);
	text-shadow: 2px 2px 4px #000;
	font-weight: bold;
}

dd{
	font-size: 0.8em;
}

.experience li p{
	max-width: 100%;
}

.about{
	margin-top: 100px;
}

.about p{
	max-width: 60%;
}

.summary{
	display: flex;
}

.about .imgs{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	min-width: 30%;
	padding-right: 8%;
	padding-top: 20px;
}

.about .imgs img{
	width: 60px;
	object-fit: scale-down;
}

.socials li{
	list-style: none;
}

.socials a{
	text-decoration: none;
	font-family: "NunitoSans",sans-serif;
	color: var(--primary);
	font-size: 2.5em;
}

.socials a:hover, .wrks a:hover{
	color: #3EA5E7; 
}

.socials h4{
	color: var(--primary);
	font-family: "NunitoSans",sans-serif;
	font-size: 1.5em;
}

.socials div ul{
	display: flex;
}

.wrks{
	padding-left: 30px;
}

.wrks ul li{
	list-style: none;
}

.wrks h6, .wrks span{
	font-size: 0.6em;
}

.wrks a{
	color: #fff;
	text-decoration: none;
}

.wrks h6{
	color: var(--primary);
}
 

@media screen and (max-width: 768px){
	.summary{
		flex-direction: column;
	}

	.about p{
	max-width: 100%;
	}

}	

