@font-face{
	font-family: "BungeeShade-Regular";
	src: url('../assets/fonts/BungeeShade-Regular.ttf');
}

@font-face{
	font-family: "VT323-Regular";
	src: url('../assets/fonts/VT323-Regular.ttf');
}

@font-face{
	font-family: "OverlockSC";
	src: url('../assets/fonts/OverlockSC-Regular.ttf');
}

@font-face{
	font-family: "Poppins";
	src: url('../assets/fonts/Poppins-Regular.ttf');
}


@font-face{
	font-family: "JetBrainsMono";
	src: url('../assets/fonts/JetBrainsMono-VariableFont_wght.ttf');
}

@font-face{
	font-family: "NunitoSans";
	src: url('../assets/fonts/NunitoSans-Regular.ttf');
}

@font-face{
	font-family: "RobotoMono";
	src: url('../assets/fonts/RobotoMono-VariableFont_wght.ttf');
}

html{
	font-size: 18px; 
}

:root{
  --bg-col: #e8e8e8;
  --bg-col-alt: rgba(197, 198, 208, 0.4);
  --primary: #042331;
  --primary-alt: #fff;
  --bx-shdw: 0px 0px 1px rgba(0, 0, 0, 0.7);
  --bx-shdw-alt: inset 1px 1px 2px rgba(197, 198, 208, 0.8);
  --item-col: #f5f5f5;
  --text-col: var(--primary);
  --text-col-alt: #E26434;
  --bg-col-dark: #161a1e;
  --primary-dark: #5e6265;
  --primary-alt-dark: var(--bg-col-dark);
  --item-col-dark: #252525;
  --text-col-alt-dark: #E68d27;
}



*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

* input:focus{
	outline: none;
}


body.light{
	--bg-col: #e8e8e8;
  --primary: #042331;
  --primary-alt: #fff;
  --item-col: #f5f5f5;
  --text-col-alt: #E26434;
}

body.dark{
	--bg-col: var(--bg-col-dark);
  --primary: var(--primary-dark);
  --primary-alt: var(--primary-alt-dark);
  --text-col: #e8e8e8;
  --item-col: var(--item-col-dark);
  --text-col-alt: var(--text-col-alt-dark);
  background-color: var(--bg-col);
  color: var(--primary);
}

body{
	background-color: var(--bg-col);
	width: 100vw;
	height: 100vh;
	font-family: "Poppins", sans-serif;
	color: var(--text-col);
}

.fa-star{
	color: gold;
}

.mainpage{
	width: calc(100% - 60px);
	margin-bottom: 50px;
	border-radius: 0 0 5% 5%;
	transition: all 0.5s ease-in-out;
	margin-top: 60px;
	margin-left: 60px;
	padding-left: 5%; 
	min-height: 650px;
}


.mainpage h3{
	transform: translateY(30px);
}


.mainpage .cnsls{
	display: flex;
	width: 90%;
	flex-wrap: wrap;
	background-color: var(--primary-alt);
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	transform: translateY(20px);
	border-radius: 5px;
	box-shadow: var(--bx-shdw);
}

.mainpage .cnsls svg{
	width: 150px;
	height: 60px;
	fill: var(--bg-col-alt);
}

.mainpage .featured{
	width: 90%;
	min-height: 450px;
	transform: translateY(40px);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.mainpage .featured img{
	width: 100%;
	object-fit: cover;
	border-radius: 3px;
}

.mainpage .featured .main-img{
	width: 70%;
	position: relative;
}

.mainpage .featured .main-img img{
	height: 100%;
}

.mainpage .featured .main-img #info{
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 40%;
	background: var(--bg-col-alt);
	backdrop-filter: blur(7px);
	box-shadow: var(--bx-shdw-alt);
	padding: 10px;
	color: #fff;
	font-family: "NunitoSans", sans-serif;
	text-shadow: 1px 1px 2px var(--primary)
}



.mainpage .featured .main-img #info p{
	width: 100%;
	overflow: hidden;
	line-height: 20px;
	max-height: 80px;
	text-overflow: ellipsis;
	overflow: hidden !important;
	-webkit-box-orient: vertical;
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	font-size: 0.8em;
}


.mainpage .featured .main-img #info .details{
	flex-grow: 3;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

#name{
	text-align: center;
	color: var(--text-col);
	padding-top: 30px;
	flex-grow: 1;
}

#price{
	font-size: 1.3em;
}

#genre{
	font-size: 0.6em;
}

#genre span{
	background-color: var(--primary);
	padding: 3px 7px;
	border-radius: 7px;
	box-shadow: var(--bx-shdw-alt);
}

#rating, #platform{
	font-size: 1em;
}

#rating .fa-solid{
	color: gold;
}

#platform > *{
	color: var(--text-col);
	margin-right: 5px;
}

#platform{
	border-top: 2px solid var(--bg-col);
	padding: 20px 0;
	position: relative;
}

#platform::before{
	content: 'Platforms';
	color: var(--text-col);
	font-size: 0.6em;
	font-weight: bold;
	bottom: 0;
	left: 10px;
	position: absolute;
}

.mainpage .featured .alt-imgs{
	width: 29%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.mainpage .featured .alt-imgs img{
	height: 49%;
	cursor: pointer;
}

.sidebar{
	height: 100%;
	position:fixed;
	background: var(--primary);
	top: 55px;
	left: 0;
	width: 60px;
	transition: width 0.5s ease;
	overflow: hidden;
	z-index: 2;
	box-shadow: var(--bx-shdw);

}

.titlebar{
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 55px;
	position: fixed;
	background: var(--item-col);
	z-index: 3;
	top: 0;
	width: 100vw;
	box-shadow: var(--bx-shdw);
}

.titlebar form{
	background-color: var(--bg-col-alt);
	border-radius: 3px;
	padding: 5px;
	width: 40%;
	display: flex;
	justify-content: space-between;
}

.titlebar input, .titlebar form button{
	padding: 8px;
	border: none;
	margin: 0;
	background: none;
}
.titlebar input{
	flex-grow: 1;
}

.titlebar button{
	background: none;
	color: var(--text-col);
	border: none;
	display: inline-flex;
	align-items: center;
	cursor: pointer;
}

.titlebar button svg{
	font-size: 1.2em !important;
	margin-right: 2px;
}


a.logo{
	display: inline-block;
	height: 100%;
	padding: 5px;
}

.logo img{
	height: 100%;
	width: 100%;
	max-width: 45px;
}


.titlebar a{
	color: var(--text-col);
	text-decoration: none;
	font-size: 0.8em;
	font-family: "Poppins", sans-serif;
}

.titlebar a svg{
	font-size: 1.2em !important;
}

.logo span:nth-child(1){
	color: var(--primary-alt); 
	font-size: 2em; 
}

.logo span{
	font-family: "OverlockSC", monospace;
	font-size: 1em;
}	

.sidebar ul{
	margin-top: 90px;
}

#check{
	display: none;
}

label #btn,label #cancel, #theme{
	position: fixed;
	z-index: 5;
	color: var(--bg-col);
	background-color: var(--primary);
	font-size: 18px;
	padding: 4px 8px;
	border-radius: 5px;
	box-shadow: var(--bx-shdw-alt);
	cursor: pointer;
	border: none;
}

label #btn{
	left: 70px;
	transform: translateY(60px);
	transition: all 0.5s ease;
}

label #btn:hover{
	color: var(--text-col-alt);
}

label #cancel, #theme{
	transition: all 0.6s ease;
	filter: brightness(70%);
	transform-origin: right;
}

label #cancel{
	transform: translate(15px,25px);
	opacity: 0;
}

label #cancel:hover{
	color: var(--text-col-alt);
}

#theme{
	transform: translate(-50px,29px);
	padding: 8px 10px;
	opacity: 0;
}

#check:checked ~ label #cancel{
	display: inline-block;
	opacity: 1;
	transform: translate(195px,25px);
}
#check:checked ~ .sidebar{
	width: 250px;
	z-index: 4;
}

#check:checked ~ label #btn{
	left: 270px;
	opacity: 0;
}

#check:checked ~ .sidebar span.text{
	display: inline;
}

#check:checked ~ .sidebar h1.text{
	display: block;
	white-space: nowrap;
	word-wrap: nowrap;
}

#check:checked ~ .sidebar #theme{
	transform: translate(12px, 29px);
	opacity: 1;
}


#check:checked ~ .sidebar li{
	justify-content: flex-start;
	padding-left: 5px;
}

#check:checked ~ .sidebar::before{
	display: inline;
}

.text{
	display: none;
	text-shadow: 2px 2px 3px var(--primary-alt);
	
}

.sidebar h1{
	margin: 20px auto;
	text-align: center;
	color: var(--item-col);
	font-family: "Poppins";
	
}

.sidebar::before{
	position: absolute;
	bottom: 60px;
	left: 30px;
	color: var(--primary-alt);
	content: '©Mayweda-DEV';
	font-size: 0.6em;
	font-weight: bold;
	display: none;
}

.sidebar li{
	display: flex;
	justify-content: center;
	line-height: 45px;
	border-bottom: 2px solid black;
	border-top: 1px solid white;
	margin: 5px 10px;
	border-radius: 5px; 
	box-shadow: var(--bx-shdw-alt);
}

.sidebar li a{
	word-wrap: nowrap;
	white-space: nowrap;
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	padding: 3px 5px;
	transition: all 0.4s ease-out; 
	transition-delay: 0.2s;
	font-family: "Poppins", sans-serif;

}



.sidebar li a:hover{
	padding: 3px 10px;
	color: var(--text-col-alt);
}

.gamepage{
	margin-left: 60px;
	display: flex;
	flex-direction: column;
	align-items: center; 
}

.gamepage h1{
	text-align: center;
	margin: 40px 0 ;
	color: var(--text-col);
	font-family: "NunitoSans", sans-serif; 
}

.slides input{
	display: none;
}

.slider{
	width: 640px;
	height: 360px;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 40px;
}
.slides{
	width: 500%;
	height: 360px;
	display: flex;
	
}
.sldimg{
	width: 20%;
	transition: 2s ease-in-out;
	position: relative;
}

.sldimg img{
	width: 100%;
	height: 360px;
}

.sldtxt{
	position: absolute;
	right:0;
	top: 20%;
	transform: translateX(-50px);
	

}


.sldtxt h3,
.sldtxt h4{
	position: relative;
	margin: 0;
	padding: 0;
	display: block;
	text-transform: capitalize;
	font-family: "Poppins", sans-serif;
	color: var(--text-col-alt);
	}

.sldtxt h3{
	font-size: 1.5em;
}

.nav-manual{
	position: absolute;
	width: 640px;
	margin-top: -40px;
	display: flex;
	justify-content: center;

}

.manual-btn{
	border: 2px solid var(--primary);
	padding: 5px;
	border-radius: 50%;
	cursor: pointer;
	transition: 1s;
}

.manual-btn:not(:last-child){
	margin-right: 30px;
}

.manual-btn:hover{
	background-color: var(--primary);
}






#radio1:checked ~ .first{
	margin-left: 0;
}
#radio2:checked ~ .first{
	margin-left: -20%;
}
#radio3:checked ~ .first{
	margin-left: -40%;
}
#radio4:checked ~ .first{
	margin-left: -60%;
}


.nav-auto{
	position: absolute;
	display: flex;
	width: 640px;
	justify-content: center;
	margin-top: 320px;
}
.nav-auto div{
	border: 2px solid var(--primary);
	padding: 5px;
	border-radius: 50%;
}
.nav-auto div:not(:last-child){
	margin-right: 30px;
}
#radio1:checked ~ .nav-auto .aut-btn1{
	background-color: var(--primary);
}
#radio2:checked ~ .nav-auto .aut-btn2{
	background-color: var(--primary);
}
#radio3:checked ~ .nav-auto .aut-btn3{
	background-color: var(--primary);
}
#radio4:checked ~ .nav-auto .aut-btn4{
	background-color: var(--primary);
}

.gamegrid{
	display: grid;
	grid-template-columns: repeat(5, 150px);
	grid-template-rows: repeat(5, 200px);
	grid-row-gap: 50px;
	grid-column-gap: 30px; 

}

.item{
	width: 150px;
	height: 200px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	padding: 7px;
	gap: 5px;
	background-color: var(--item-col);
	position: relative;
	box-shadow: var(--bx-shdw);
}

.item .imgbox{
	width: 100%;
	flex-grow: 1;
	
}

.item .imgbox img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.buy{
	position: absolute;
	bottom: 10px;
	right: 5px;
}

.buy button{
	padding: 5px 15px;
	margin-right: 5px;
	border-radius: 5px;
	font-family: "RobotoMono", monospace;
	border: none;
	background-color: var(--text-col-alt);
	font-size: 0.8em; 
	color: var(--primary-alt);
	font-weight: bold;
	box-shadow: var(--bx-shdw-alt);
}

.buy button:hover{
	color: var(--text-col-alt);
	background-color: var(--primary);
	cursor: pointer; 
}

.info{
	width: 100%;
	height: 30%;
	line-height: 12px;
}

.info span.rating{
	padding: 8px 12px;
	font-size: 0.8em;
	border-radius: 9px;
	background-color: transparent;
	backdrop-filter: blur(4px);
	box-shadow: var(--bx-shdw-alt);
	position: absolute;
	bottom: 80px;
	left: 40px;
	color: #fff;
}

.info span.rating svg{
	color: gold;
}


.info span.price{
	display: block;
	font-size: 0.9em;
	margin-top: 7px;
	color: var(--text-col-alt);
}

.info .platforms{
	color: var(--text-col);
	font-size: 0.6em;
}

.info .platforms svg{
	margin-right: 3px;
}
.info h6{
	color: var(--text-col-alt);
	font-family: "NunitoSans", sans-serif;
	font-style: italic;
}
.footer{
	display: flex;
	flex-wrap: wrap;
	padding: 30px 30px;
	background-color: var(--primary);
	margin: 35px 0 0 60px;
}

.footer h3{
	margin-bottom: 25px;
	font-family:"NunitoSans", sans-serif; 
	font-size: 1.2em;
	color: var(--text-col-alt); 
}

.footer ul{
	margin: 0 auto;
}

.footer ul li a{
    text-decoration: none;
    color: var(--primary-alt);
    font-family: "Poppins", sans-serif;
    font-size: 0.8em;
}
.footer p{
	position: relative;
	display: flex;
	align-items: flex-end;
	color: #fff;
}

.search-box{
	width: 100%;
}

.input-group{
	display: flex;
	align-items: center;
	margin: 40px auto;
	width: 70%;
	background-color: var(--primary-alt);
	box-shadow: var(--bx-shdw);
	border-radius: 15px;
}

.input-group .search-btn{
	padding: 2px 4px;
	background: none;
	border: none;
	border-right: 1px solid var(--bg-col-alt);
}

#search{
	color: var(--text-col);
	font-family: "RobotoMono", monospace;
	font-weight: 800;
	border: none;
	padding-left: 2px;
	margin: 0;
	background: none;
}

.search-box .btn-group button{
	padding: 10px 15px;
	background-color: var(--text-col-alt);
	color: var(--text-col);
	border: none;
	font-weight: bold;
	font-size: 0.7em;
	font-family: "NunitoSans", sans-serif;
	border-radius: 10px;
	box-shadow: var(--bx-shdw-alt);
	margin-bottom: 5px;
}

.btn-group button:hover{
	color: var(--text-col-alt);
	background-color: var(--primary);
	cursor: pointer; 
}

.btn-group{
	height: 100%;
	padding: 20px 5px;
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: var(--primary-alt);
	border-right: 1px solid var(--bg-col-alt);
	border-left: 1px solid var(--bg-col-alt);
}

.filter{
	height: 100%;
	padding: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.filter button{
	background-color: var(--primary);
	color: var(--bg-col);
	border: none;
	padding: 8px 10px;
	border-radius: 7px;
	box-shadow: var(--bx-shdw-alt);
}

.filter button:hover{
	background-color: var(--text-col-alt);
	color: var(--primary);
	cursor: pointer;
}

@media screen and (max-width : 1200px){



.gamegrid{
	grid-template-columns: repeat(4, 150px);
	grid-template-rows: repeat(6, 200px);
	grid-row-gap: 40px;
	grid-column-gap: 25px; 

	}
}

@media screen and (max-width : 1000px){

	
	.gamegrid{
	grid-template-columns: repeat(3, 150px);
	grid-template-rows: repeat(8, 200px);
	grid-row-gap: 40px;
	grid-column-gap: 25px; 

	}
}

@media screen and (max-width : 768px){

	html{
	font-size: 16px; 
	}

	.titlebar button span{
		display: none;
	}

	.mainpage .featured{
		flex-direction: column;
		justify-content: flex-start;
	}



	.mainpage .featured .main-img{
	width: 100%;
	height: 360px;
	}

	.mainpage .featured .main-img img{
	height: 100%;
	}

	.mainpage .featured .alt-imgs{
	width: 100%;
	height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 15px;
	margin-top: 10px;
	}

	.mainpage .featured .alt-imgs img{
	height: 100%;
	width: 25%;
	min-width: 80px;
	}

	.slider{
	transform: scale(0.8);
	}

   .gamegrid{
	grid-column-gap: 20px;
	}

	.input-group{
	flex-direction: column;
	}

	.btn-group{
	border-right: none;
	border-left: none;
	}

}

@media screen and (max-width : 600px){

	html{
		font-size: 14px;
	}

	.slider{
	transform: scale(0.5);
	}

 .gamegrid{
	grid-template-columns: repeat(2, 150px);
	grid-template-rows: repeat(12, 200px);
	grid-row-gap: 40px;
	grid-column-gap: 15px;
	}

	.titlebar form{
		display: none;
	}

	.titlebar > *{
		flex-grow: 1;
	}

	a.logo{
		flex-grow: 4;
	}

	.mainpage .featured .main-img #info{
	top: 60%;
	right: 0;
	flex-direction: row;
	height: 40%;
	width: 100%;
	gap: 20px;
}

.mainpage .featured .main-img #info p{
	max-height: 40px;
	-webkit-line-clamp: 2;
}

#name{
	line-height: 30px;
}

#platform{
	padding: 5px 0;
}



	

	/*.logo{
	margin: 2px auto;
	transform: translateX(35px);
	}*/



}

@media screen and (max-width : 450px){


.slider{
	transform: scale(0.4);
}

.gamegrid{
	grid-template-columns: repeat(2, 120px);
	grid-template-rows: repeat(12, 160px);
	grid-row-gap: 40px;
	grid-column-gap: 5%;
}


.item{
	width: 120px;
	height: 160px;

}

#search{
	min-width: 200px;
}

.buy button{
	padding: 3px 6px;
	margin-right: 3px;
}

.gamepage{
	margin-left: 20px;



}

@media screen and (max-width : 350px){


.slider{
	transform: scale(0.3);
}

.gamegrid{
	display: flex;
	flex-direction: column;
}




.buy button{
	padding: 0px 0px;
	margin-right: 2px;
}

}

@media(prefers-color-scheme: dark){
	
}
